* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-section {
  width: 90%;
  margin: 0 auto;
}

.card-section h1 {
  font-size: 1.8rem;
  margin: 2rem auto;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  min-width: 250px;
  margin: 0 1rem 1rem 0;
  float: left;
  position: relative;
}

span.card-id {
  position: absolute;
  font-size: 9rem;
  font-weight: 900;
  top: -5rem;
  left: -2rem;
  color: rgb(221 221 221 / 20%);
  z-index: -999;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.top h2:nth-child(2) {
  margin-left: 1rem;
}

.img {
  padding: 1rem;
  color: white;
  border-radius: 50px;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.details {
  padding-top: 1rem;
  line-height: 1.8;
  border-top: 1px solid #ddd;
}

.details h2 {
  margin-bottom: 0.5rem;
}

.card button {
  padding: 0.5rem;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #005746;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
  transition: background, border 0.3s;
}

.card button:hover {
  border: 1px solid #005746;
}

a {
  text-decoration: none;
  transition: all 0.5ms;
}

a:hover {
  text-decoration: underline;
  background-color: thistle;
}
